footer p {
    text-align: center;
}

.red_ {
    color: red;
    font-weight: bold;
    text-decoration: underline red;
}

.Rules {
    font-size: 18px;
    text-decoration: underline;
    margin-bottom: 2px;
}